<h1 class="text-center">Welcome</h1>
<p class="text-center">Check out these really cool restaurants</p>
<div class="row">
  <div class="col-12 text-center mb-4">
    <%= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-4">
      <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3><%= restaurant.name %></h3>
        <%= image_tag "http://source.unsplash.com/featured/?#{restaurant.category}&#{rand(1000)}", class: "img-wrapper" %>
        <%= link_to '', restaurant_path(restaurant), class: 'card-link-wrapper' %>
      </div>
    </div>
  <% end %>
</div>


